{%extends 'index.html'%}

{%block title%}
<title>List of Book</title>
{%endblock title%}

{%block content%}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <section class="bg-light rounded shadow my-5">
                <div class="text-center py-2 border-bottom border-danger">
                    <h1>Libros</h1>
                </div>
                <article class="bg-info-subtle p-4 ">
                    
                    <table class="table table-bordered">
                        <thead class="table-dark">
                            <th>Titulo</th>
                            <th>Codigo</th>
                            <th>Autor</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            {% for bo in books %}
                            <tr>
                                <td>{{ bo.title }} </td>
                                <td>{{ bo.cod }}</td>
                                <td>
                                    {% for au in bo.author.all %}
                                    {{au}}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="/book_update/{{bo.id}}" class="text-warning p-2">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a href="/book_delete/{{bo.id}}" onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?');" class="text-danger p-2">
                                        <i class="bi bi-x-square"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="my-3 align-middle">
                        <a href="/index/" class="btn btn-warning">
                            ← Volver
                        </a>
                        <a href="/book_create/" class="btn btn-success">
                            Crear libro
                        </a>
                    </div>
                    
                </article>
            </section>

        </div>
    </div>
</div>
{%endblock content%}