{%extends 'index.html'%}

{%block title%}
<title>List of Author</title>
{%endblock title%}

{%block content%}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <section class="bg-light rounded shadow my-5">
                <div class="text-center py-2 border-bottom border-danger">
                    <h1>Autores</h1>
                </div>
                <article class="bg-info-subtle p-4">

                    <table class="table table-bordered">
                        <tr class="table-dark">
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                        {% for aut in authors %}
                        <tr>
                            <td>{{ aut }}</td>  
                            <td>
                                <a href="/author_update/{{aut.id}}" class="text-warning p-2">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a href="/author_delete/{{aut.id}}" onclick="return confirm('¿Estás seguro de que deseas eliminar este autor?');" class="text-danger p-2">
                                    <i class="bi bi-x-square"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

                    <div class="my-3">
                        <a href="/index/" class="btn btn-warning">
                            ← Volver
                        </a>

                        <a href="/author_create/" class="btn btn-success">
                            Crear Autor
                        </a>
                    </div>

                </article>
            </section>
        </div>
    </div>
</div>
{%endblock content%}