/* Configuración base */
#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;
}

#sidebar {
    min-width: 280px;
    max-width: 280px;
    min-height: 100vh;
    transition: all 0.3s;
    z-index: 1000;
}

/* Comportamiento en móviles */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -280px;
        /* Escondido por defecto */
        position: fixed;
    }

    #sidebar.active {
        margin-left: 0;
        /* Se muestra al activar */
    }

    .main-content {
        width: 100% !important;
    }
}

.nav-link.active {
    background-color: #0d6efd !important;
    color: white !important;
}